{% extends "base.html" %}
{% block content%}

    <p>Dashboard</p>
    <div class="tab">
    <div class="tabs">
        <p class="tab_text">Total quantity</p>
    </div>
    <div class="tabs">
        <p class="tab_text">Total stock</p>
    </div>
    <div class="tabs">
        <p class="tab_text">Total brands</p>
    </div>
    <div class="tabs">
        <p class="tab_text">Total orders</p>
    </div>
    <div class="tabs">
        <p class="tab_text">Total users</p>
    </div>
</div>

{%endblock%}