{% extends "base.html"%}
{% block content%}
<p class="desc">User details</p>
<div class="cont">
    <p class="mid"><button onclick="der()">Add user</button></p><br>

<div class="tab">
    <div class="tabs">
        <p class="tab_text">Total users</p>
        <p class="tab_text">3</p>
    </div>
</div>
<div class="table">
<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr>
        <td>2</td>
        <td>Mugwe</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
</table>
</div>
</div>
{%endblock%}